@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Black';
	src: url('../fonts/Montserrat-Black.eot');
	src: local('☺'), url('../fonts/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black.ttf') format('truetype'), url('../fonts/Montserrat-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat-Regular';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
}

.wrapper {
    max-width: 1340px; 
    margin: 0 auto;
}

/* Header styles start */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 40px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    }

.header__item {
    margin-right: 63.14px;
} 
.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 15px;
    line-height: 18px;
    color: #E51937;
    text-decoration: none; /*чтобы убрать подчеркивание у ссылок */
}

.header__nav ul li {
    list-style: none; /*чтобы убрать маркеры у ссылок */
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: 75%;
}

/* Header styles end */

/* Intro styles start */
.intro {
    width: 1514px;
    min-height: 100vh;
    left: -37px;
    top: 135px;
    background: url(../img/Tesla-Background.png) no-repeat center;
    background-size: auto;
    padding-top: 140px;
 }

.intro__title {
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;
    color: aquamarine;
    text-align: center;
    margin-bottom: -9px;
 }

.intro__subtitle {
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 27px;  
 }

 .intro__pic-car {
    margin: auto;
 }

 .showing {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 81px;
 }

 .pic__distance {
     margin-right: 0%; 
 }

 .search-form__submit {
    width: 160px;
    height: 40px;
    padding: 7px 11px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: #E51937;
    background: transparent;
    border-style: solid;
    border-color: #E51937;
 }

 .search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    color: rgb(187, 14, 40);
 }

 .wrapper__vector {
    left: 706px;
    top: 849px;  
 }
/* Intro styles end */

/* Model S styles start */

.ModelS__wrap {
    width: 1412px; 
    height: 860px;
    background: url(../img/Tesla-panel.png) no-repeat;
}

.ModelS__title {
    margin-left: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #E51937 ;
}

.ModelS__wrap-subtitle {
    max-width: 440px;
    height: 900px;
    margin-left: auto;
    background-color: #E51937; 
    transform: translateY(-22%);
}

.ModelS__wrap-sub {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #fff; 
    padding: 51px 52px 72px; 
    margin-bottom: 11px;
    }


.ModelS__subtitle {
    width: 316px;
    height: 206px;
    padding-left: 52px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #fff; 

}

/* .ModelS__icon-display {
    padding: 52px 51px; 
    margin-bottom: 35px;

} */

.ModelS__icon {
    padding-left: 52px;
    margin-bottom: 35px;
}

.ModelS__bottom-icon {
    margin-bottom: 182px;
}

.botton__learn-more1, .search-form {
    margin-left: 67px;
}

.search-form__submit2 {
    width: 160px;
    height: 40px;
    padding: 7px 11px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color:#fff;
    background: transparent;
    border-style: solid;
    border-color: #fff 
}
    .search-form__submit2:hover, .search-form__submit2:focus, .search-form__submit2:active{
        color: rgb(204, 201, 201);

}

/* Model S styles end */


/* Safety auto styles start */

.safety__auto-wrap {
    background: url(../img/Model_S.png) no-repeat, url(../img/Car_frame.png) no-repeat; 
} 

.safety__auto-title  {
    max-width: 440px;
    height: 900px;
    margin-right: auto;
    background-color: #E51937;
}

.safety__auto_title4 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    padding: 51px 52px 68px;
    margin-bottom: 12px;
    color: #fff;
}

.safety__auto-sub { 
    width: 316px;
    height: 134px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding-left: 56px;
    color: #fff; 
}

.safety__auto-title5 {
    padding-left: 56px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #fff;
} 

.auto__title-5 {
    margin: 36px 56px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
}

.auto__title-star {
    margin-right: auto;
    }

/* Safety auto styles end */